:root {
  --background: #fcfcfc;
  --foreground: #121212;

  --card: #ffffff;
  --card-foreground: #121212;

  /* Kuning ESDM sebagai Primary Brand */
  --primary: #ffeb00;
  --primary-foreground: #000000;

  --secondary: #f4f4f5;
  --secondary-foreground: #18181b;

  --muted: #f4f4f5;
  --muted-foreground: #71717a;

  --accent: #fef08a;
  --accent-foreground: #000000;

  --destructive: #dc2626;

  --success: #16a34a;
  --success-foreground: #ffffff;

  --danger: #dc2626;
  --danger-foreground: #ffffff;

  --border: #e4e4e7;
  --input: #e4e4e7;
  --ring: #ffeb00;

  /* --radius-xs: 0px;
  --radius-sm: 0px;
  --radius: 0px;
  --radius-lg: 0px;
  --radius-xl: 0px;
  --radius-full: 0px; */
}

/* Force override ALL MUI's built-in rounded classes */
/* .MuiPaper-rounded,
.MuiCard-root,
.MuiDialog-paper,
.MuiDrawer-paper,
.MuiPopover-paper,
.MuiModal-root,
.MuiSnackbar-root,
.MuiChip-root,
.MuiButton-root,
.MuiIconButton-root,
.MuiFab-root,
.MuiAlert-root,
.MuiTooltip-tooltip,
.MuiAutocomplete-paper,
.MuiMenu-paper,
.MuiSelect-select {
  border-radius: 0px !important;
} */

.dark {
  color-scheme: dark;
  --background: #09090b;
  --foreground: #fafafa;

  --card: #121214;
  --card-foreground: #fafafa;

  /* Kuning Solid kontras tinggi untuk Dark Mode */
  --primary: #ffe600;
  --primary-foreground: #000000;

  --secondary: #1f1f23;
  --secondary-foreground: #fafafa;

  --muted: #1f1f23;
  --muted-foreground: #a1a1aa;

  --accent: #27272a;
  --accent-foreground: #ffe600;

  --destructive: #ef4444;

  --success: #4ade80;
  --success-foreground: #052e16;

  --danger: #f87171;
  --danger-foreground: #18181b;

  --border: #27272a;
  --input: #27272a;
  --ring: #ffe600;

  --radius-xs: 10px;
  --radius-sm: 20px;
  --radius: 30px;
  --radius-lg: 40px;
  --radius-xl: 50px;
  --radius-full: 60px;
}

/* Theme transition support */
html,
body {
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}
